body {
    background: #4E5F82;
    height: auto;
    position: relative;
}

#logo {
    width: 100%;
    margin: auto;
}

#startButton {
    position: absolute;
    background: none;
    border: none;
    color: white;
    left: 59%;
    bottom: 27%;
    font-size: 24px;
    font-family: 'BenchNine', sans-serif;
    letter-spacing: 2.5px;
}

@media screen and (max-width: 640px) {
    body {
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }

    iframe {
        width: 50%;
    } 

    #logo-wrapper {
        padding-top: 0%;
    }

    #logo {
        width: 325px;
    }

    #upload-wrapper {
        padding-top: 5%;
    }
}
